<template>
 <v-flex xs12 sm10 d-flex>
<v-select
  :items="optionlist"
  label="Select"
></v-select>
</v-flex>
</template>

<script>
export default {
  props: {
    optionlist: {
      type: Array
    }
  }
}
</script>

<style>

</style>
