<template>
<v-app>
   <v-data-table :headers="this.headers" :items="data" class="tb_header" id="datatable">
    <template v-slot:items="props" id="tb_header">
      <td :key="k" v-for="(header,k) in headerData">
         <span v-if="header.type=='text'">
            <span v-if="header.onclickmethod==''">{{props.item[header.fieldname]}}</span>
            <span v-if="header.onclickmethod!=''" @click="changeStatus">{{props.item[header.fieldname]}}</span>
         </span>
        <span v-else-if="header.type=='select'"><SelectOption :optionlist="optionlist"></SelectOption></span>
      </td>
    </template>
  </v-data-table>
</v-app>

</template>

<script>
import { mapActions, mapState } from 'vuex'
import { enquiryprops } from '../constant/enquiry'
// import SelectOption from '../components/form/SelectOpionsComponent'

export default {
  components: {
    // SelectOption
  },
  data(props) {
    return {
     headerData: this.headers
    }
  },
  props: { ...enquiryprops,
    optionlist: {
      type: Array
    }
  },
  computed: mapState({ status: state => state.modal.is_shown }),
  methods: {
    ...mapActions({ UpdateStatus: 'modal/updateStatusAction' }),
       changeStatus() {
         const status = !this.status
         console.log(status)
         this.UpdateStatus(status)
        //  if(status===true){
        //    this.
        //  }
       }
  }
}
</script>

<style scoped>
#datatable>>>table{
   background: inherit !important;
}
#datatable>>>table>thead{
    background: gainsboro;
}
</style>
