<template>
    <div>
<TableComponent :data="this.result" :headers="this.header" :optionlist="this.OptionsList">
<template v-slot="list">
    <div>dd</div>
</template>

</TableComponent>
    </div>
</template>

<script>
import TableComponent from '../components/TableComponent'
import { enquiryheader, listdata } from '../constant/enquiry'
export default {
    components: {
        TableComponent
    },
    data() {
        return {
            result: listdata,
            header: enquiryheader,
            OptionsList: ['Request Cost', 'Pending Cost', 'Cost Send', 'Cost Approve', 'Client Confirm', 'Delete']
        }
    }

}
</script>

<style scoped>

</style>
