<template>
    <v-app light>
        <v-container fluid text-xs-center id="login-container">
             <v-layout d-block id="logo">
                <Logo></Logo>
            </v-layout>
            <v-form ref="form" >
                    <v-text-field v-model="username"  label="username" required></v-text-field>
                    <v-text-field :type="'password'" v-model="password"  label="password" required></v-text-field>
                    <v-btn color="info" type="button" @click="loginForm">Login</v-btn>
            </v-form>
        </v-container>
    </v-app>
</template>
<style lang="scss" scope>
@media screen and (min-width: 768px) {
        #login-container {
        width: 500px;
         }
}
</style>
<script>
import Logo from '~/components/Logo.vue'
import Login from '~/services/user/login'
import store from 'store'
import { mapGetters, mapActions } from 'vuex'
export default {
    layout(context) {
        return 'nosidebar'
    },
    components: {
        Logo
    },
    data() {
        return {
            username: '',
            password: ''
        }
    },
    computed: {
        ...mapGetters({ is_login: 'auth/login/get_is_login' })
    },
    methods: {
         async loginForm(e) {
            if (this.username !== '' && this.password !== '') {
                 try {
                    const login = await Login(this.username, this.password)
                    if (login.data.status === 'loged') {
                    store.set('token', login.data.token)
                       this.change_login()
                       this.$router.push('/dashboard')
                    }
                } catch (e) {
                    console.log(e)
                 }
             }
        },
        ...mapActions({
            change_login: 'auth/login/login'
        })
    }
}
</script>
